<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :document_type %>
    <%= f.input :document_number %>
    <%= f.input :name %>
    <%= f.input :lastname %>
    <%= f.input :email %>
    <%= f.input :phone %>
  </div>

  <center>
    <div class="form-actions">
      <%= f.button :submit, 'Continuar', class: 'btn btn-success' %>
    </div>
  </center>
<% end %>
